.container {
  background-color: white;
  display: inline-block;
  padding: 36px 48px;
  border-radius: 8px;
}
.heading {
  text-align: center;
}
.capcha {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.capcha-input {
}
.render-capcha {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}
.capcha-value {
  min-width: 120px;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
  color: white;
  background-color: black;
}
